#mainCard {
    max-width: 65vw;
    margin: auto;
    min-height: 80vh;
    position: relative;
    border: 5px solid forestgreen;
    border-top-width: 0;
    border-radius: 0 0 5rem 5rem;
    background: #000000c9;
}

#news {
    width: 259px;
    color: white;
    padding: 20px 30px 20px 100px;
    margin: -20px 0 40px 5vw;
    border: 5px solid forestgreen;
    border-radius: 0 0 5rem 5rem;
    background: #000000db;
}
